# Host files
ansible/host_vars/*
inventory.*
secrets.*
!ansible/host_vars/example-*

# Generated inventory files (with standardized naming pattern)
*-inventory-[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]*.yaml
generated-inventory-*.yaml

# Example files
!ansible/host_vars/example-inventory.ini
!ansible/host_vars/example-hostname.yaml

# Ansible files
.DS_Store
.ansible/
ansible.cfg

# Optional files
ansible/files/validator_keys/*
ansible/files/passwords/*
ansible/files/validator_keys.tar.gz
ansible/files/validator_keys.zip
ansible/files/geth-data/*
ansible/files/lighthouse-data/*
ansible/files/ephemery-data/*
ansible/files/ephemery-testnet/*
ansible/files/ephemery-testnet.tar.gz

# Local collections
collections/

# venv files
.venv/
