# Host files
host_vars/*
inventory.*
secrets.*
!host_vars/example-*

# Example files
!host_vars/example-inventory.ini
!host_vars/example-hostname.yaml

# Ansible files
.DS_Store
.ansible/
ansible.cfg

# Optional files
/files/validator_keys/*
/files/passwords/*
/files/validator_keys.tar.gz
/files/geth-data/*
/files/lighthouse-data/*
/files/ephemery-data/*
/files/ephemery-testnet/*
/files/ephemery-testnet.tar.gz

# Local collections
collections/

# venv files
.venv/
