# Host files
host_vars/*
inventory.*
secrets.*
!inventory.yaml.example
!secrets.yaml.example
!host_vars/example-*

# Example files
!host_vars/example-inventory.ini
!host_vars/example-hostname.yaml

# Ansible files
.DS_Store
.ansible/

# Prefer files
/files/validator_keys/*
/files/validator_keys.tar.gz
/files/geth-data/*
/files/lighthouse-data/*
/files/ephemery-data/*
/files/ephemery-testnet/*
/files/ephemery-testnet.tar.gz

# Local collections
/collections/
