MAIL-ON-WARNING="root"
MAIL_CMD="mail -s \"[rkhunter] Warnings found on $(hostname)\""
UPDATE_MIRRORS=1
MIRRORS_MODE=1
WEB_CMD=""
PKGMGR=DPKG
SCRIPTWHITELIST=/usr/bin/lwp-request
SCRIPTWHITELIST=/usr/bin/whatis
SCRIPTWHITELIST=/usr/bin/ldd
SCRIPTWHITELIST=/usr/bin/unhide.rb
SCRIPTWHITELIST=/etc/cron.daily/logrotate
ALLOWHIDDENDIR=/dev/.udev
ALLOWHIDDENDIR=/dev/.static
ALLOWHIDDENDIR=/dev/.initramfs
ALLOWHIDDENFILE=/dev/.blkid.tab
ALLOWHIDDENFILE=/dev/.blkid.tab.old
ALLOWHIDDENFILE=/dev/.initramfs/resume
ALLOWHIDDENFILE=/usr/share/man/man1/..1.gz
ALLOWHIDDENFILE=/usr/bin/.paclist
ALLOWHIDDENFILE=/usr/lib/jvm/.java-8-oracle.jinfo
ALLOWDEVFILE=/dev/shm/pulse-shm
ALLOWDEVFILE=/dev/shm/sem.*
ALLOW_SSH_ROOT_USER=no
PORT_WHITELIST=30303
PORT_WHITELIST=9000
PORT_WHITELIST=8545
PORT_WHITELIST=8546
RTKT_FILE_WHITELIST=/etc/rc.d/rc.modules
RTKT_FILE_WHITELIST=/etc/rc.d/rc.local
DISABLE_TESTS="suspscan hidden_procs deleted_files packet_cap_apps apps"
ALLOWPROCDELFILE=/proc/{{common_user}}/cmdline
ALLOWPROCDELFILE=/proc/{{common_user}}/environ
ALLOWPROCDELFILE=/proc/{{common_user}}/fd
ALLOWPROCLISTEN=eth0
